$bg-gray: 	#2a2d32;
$bg-white:  		#f7f7f7;
$bg-footer:			#35383c;
$black: 			#000;
$blue-opacity:  	rgba(36, 140, 236, 0.5);
$menu-hover:  		#248cec;
$orange:			#f4b60d;
$text-color1:		#8a8a8a;
$white: 			#fff;
$white-opacity:		rgba(255, 255, 255, 0.5);
